@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    max-width: 100% !important;
    /*overflow-x: hidden !important;*/
}


/*****************************************--Images-*************************************/
.my-image{
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0;
    background-position: center;
    z-index: 1;
}

#mypicture{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/home/slate4.jpg);
}

#imagekeyboard{
    height: 180vh;
    width: 100vw;
    background-image: url(../images/skills/buenafondo.jpg);
}
#portfolio{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/portfolio/portfolio2.jpg);
}

#experience{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/ /buenafondo.jpg);
}


/*****************************************--Transparent-*************************************/
.transparent-background{
    width:100vw;
    height: 100vh;    
    position: absolute;
}
#transparent-header {   
    background-color: rgba(26, 53, 61, 0.5);
    z-index: 2;
}
#transparent-skills {
    background-color: rgba(26, 53, 61, 0.609);  
    /***position: absolute;**/
}

                                
 /*****************************************--Header-*************************************/


                        
/*****************************************--NavBar-************Arreglarrrrr*************************/
/*
#overwritten-navbar{
    position:fixed;
    z-index:5;
    
}
-.mine-navbar-nav{
    background-color:rgba(0, 0, 0, 0.568) ;
    margin-left: 1%;
    z-index: 3;
}-

#overwritten-navbar a{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 2px;
    transform: 2s all; 
}

.bg-dark {
    background-color: #47494b03!important;
}

#overwritten-navbar a:hover{
    background-color: rgba(71, 71, 71, 0.2);
}
*/

/*****************************************--Presentation-*************************************/

.presentation{   
    margin-top: 18%;
    margin-left: 10%;
    position: absolute;
    z-index: 2;
    
    font-weight: 40;
    text-align: left;

    color: rgb(250, 245, 245);
    background-color: transparent;
    opacity: 0.8;   
}

.presentation h1{
    font-size: 408%;
    font-weight: bold;
}

.presentation p{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(246, 180, 36);
}

/*****************************************--Skills-*************************************/
.skill-wrapper{
    text-align: center;
    position: absolute;
}
.header-skill{
    margin-top: 210px;
    margin-bottom: 110px;
    color: #bcc1c1;
    font-family: Roboto, sans-serif;
}
.header-skill h1 {
    color: white;
    font-size: 355%;
    font-weight: 400;
}
.header-skill p{
    color: white;
    font-size: 150%;
    font-weight: 100;
}

.skill-name{
    transform: translateY(-6px);
    float: right;
    width: 149px;
    margin-bottom: 9px;
    text-align: right;
    color: rgb(206, 205, 198);
}
.skill-name h3{
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: 100px;
}
.progress {
    background: rgba(0, 0, 0, 0);
    height: 18px;
    animation: prog 2s linear;
    margin-bottom: 30px;
}
.bg-success{
    background-color: rgb(177, 140, 61)!important;
    border-radius: 7px;
}
@keyframes prog {
    from {
        width: 0%; 
        }
    to {
        width: 100% ;
        }
}

/***********--Timeline-*****HELP FROM  https://bootsnipp.com/snippets/yGbV     ****************************/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}

.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}


/*****************************************--DesktopAproach-*************************************/
/*2do estilo  1er media create
esta es la configuracion por defecto del tablet*/
@media(max-width:991px){
    .presentation h1 {
    font-size: 508%;
    font-weight: 400;
}
  .presentation p{
        size: 10px;
    }
}

/*3er estilo    2do media create
esta es la configuracion por defecto del mobil*/
@media(max-width:767px){
    .presentation{
        margin: 89px auto;
    }
    .presentation h1 {
    font-size: 447%;
    }
    .presentation p{
        size: 10px;
    }
}

@media(max-width:568px){
    .presentation{
        margin: 89px auto;
    }
    .presentation h1{
        font-size: 362%;
    }
    .presentation p{
        size: 10px;
    }
}



