@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Roboto+Mono&display=swap');

/*****************************************--Images-*************************************/

#mypicture{
    position: relative;

    height: 100vh;
    width: 100vw;

    margin-left: auto;
    margin-right: auto;
    
    filter: blur(0,9px);
    
    background-attachment: fixed;/*-para que no se mueva con el scroll-*/
    background-image: url(../images/slate4.jpg);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;/*-para que se ajuste al div -*/
    
    z-index: 1;
}

#imagekeyboard{
    position: absolute;

    height: 180vh;
    width: 100vw;

    margin-left: auto;
    margin-right: auto;
    
    filter: blur(0,5px);
    
    background-attachment: fixed;/*-para que no se mueva con el scroll-*/
    background-image: url(../images/skills/buenafondo.jpg);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;/*-para que se ajuste al div -*/
    
    z-index: 1;
}

/*****************************************--Transparent-*************************************/
.transparent-background-cover {
    width:98.6vw;
    height: 100vh;    
    background-color: rgba(26, 53, 61, 0.5);
    position: absolute;
    z-index: 2;
}
.transparent-background-skills {
    width:98.6vw;
    height: 180vh;
    background-size: 300px 100px;
    background-color: rgba(26, 53, 61, 0.397);  
    position: absolute;
    z-index: 1;
}

                                
 /*****************************************--Header-*************************************/


                        
/*****************************************--NavBar-*************************************/
.navbar-nav{
    background-color:rgba(0, 0, 0, 0) ;
    margin-left: 1%;
    z-index: 3;
}

#overwritten-navbar a{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 2px;
    transform: 2s all;
}

.bg-dark {
    background-color: #47494b03!important;
}

#overwritten-navbar a:hover{
    background-color: rgba(71, 71, 71, 0.2);
}

/*****************************************--Presentation-*************************************/

.presentation{   
    margin-top: 10%;
    position: relative;
    z-index: 3;
    
    font-weight: 40;
    text-align: center;

    color: rgb(250, 245, 245);
    background-color: transparent;
    opacity: 0.8;   
}

.presentation h1{
    font-size: 408%;
    font-weight: bold;
}

.presentation p{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(207, 161, 62);
}

/*****************************************--Skills-*************************************/
.header-skill{
    text-align: center;
    margin-top: 210px;
    color: white;
    font-family: Roboto, sans-serif;
}
.header-skill h1 {
    color: white;
    font-size: 355%;
    font-weight: 400;
}
.header-skill p{
    color: white;
    font-size: 150%;
    font-weight: 100;
}

.skill-name{
    transform: translateY(-6px);
    float: right;
    width: 149px;
    margin-bottom: 9px;
    text-align: right;
    color: rgb(206, 205, 198);
}
.skill-name h3{
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: 100px;
}
.progress {
    background: rgba(0, 0, 0, 0);
    height: 18px;
    animation: prog 2s linear;
    margin-bottom: 30px;
}
.bg-success{
    background-color: rgb(177, 140, 61)!important;
    border-radius: 7px;
}
@keyframes prog {
    from {
        width: 0%; 
        }
    to {
        width: 100% ;
        }
}

/*****************************************--DesktopAproach-*************************************/

/*2do estilo  1er media create
esta es la configuracion por defecto del tablet*/
@media(max-width:991px){
    .presentation h1 {
    font-size: 508%;
    font-weight: 400;
}
  .presentation p{
        size: 10px;
    }
}

/*3er estilo    2do media create
esta es la configuracion por defecto del mobil*/
@media(max-width:767px){
    .presentation{
        margin:auto;
    }
    .presentation h1 {
    font-size: 488%;
    }
    .presentation p{
        size: 10px;
    }
}

@media(max-width:568px){
    .presentation{
        margin:0 auto;
    }
    .presentation h1{
        font-size: 408%;
    }
    .presentation p{
        size: 10px;
    }
}




